@tailwind base;
@tailwind components;
@tailwind utilities;

.toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: purple;
  }
  .toggle-checkbox:checked + .toggle-label {
    @apply: bg-green-400;
    background-color: rgb(184, 4, 184);
  }
